body{
    height: 2000px;
}
#right{
    position: fixed;
    right:0;
    top:0;
    width: 8px;
    height: 100%;
    background-color: #7A6E6E;
    z-index: 10;
}
#right li{
    position: absolute;
    top:100px;
    right:0;
    width: 40px;
    height: 40px;
    background-color: #7A6E6E;
}
#right .fn-hide{

    position: absolute;
    top: 0;
    right: 40px;
    width: 0px;
    height: 40px;
    background-color: #7A6E6E;
    text-align: center;
}
#right li:hover .fn-hide{
    display: block;
    width: 60px;
}
#right a{
    display: block;
    height: 100%;
    background: url('../img/toolbar.png') -50px 0 no-repeat;
}
#right .fn-hide{

}
#top {
    position: relative;
    height: 30px;
    padding: 0 70px;
    background-color: #f1f1f1;
}

#top > div {
    float: left;
}

#top .menu {
    padding: 0 3px;
    line-height: 30px;
}
#top .location{
    position: relative;
}
#top .top-left .location:hover {

    width: 60px;
    height: 30px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-left: -1px;
}

#top .top-left .location:hover .locationHide {
    display: block;
    position: absolute;
    left:-1px;
    width: 300px;
    background-color: #fff;
    border:1px solid #ddd;
}
#top .top-left .location:hover .white{

    position: absolute;
    width: 66px;
    height: 10px;
    top:-5px;
    left: 0;
    background-color: #fff;
}
#top .top-left .locationHide:after{
    content: "";
    display: block;
    clear:both;
}
#top .top-left li{
    box-sizing: border-box;
    float:left;
    width: 20%;
    padding: 5px;
    text-align: center;
}
#top .top-right {
    position: absolute;
    top: 0;
    right: 70px;
}

#top .top-right > div {
    float: left;
}

#top .login_register {
    height: 30px;
}

#top .login_register div {
    float: left;
    margin-right: 5px;
}

#top .navs li {
    float: left;
}

#top .navs .space {
    width: 1px;
    height: 12px;
    background-color: #ccc;
    margin-top: 9px;
}

#top .navs .menu {
    width: 50px;
    height: 30px;
    margin: 0 15px;
    text-align: center;
}

#top .navs .myJD:hover {
    width: 48px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#top .navs .myJD:hover .abc {
    display: block;
    width: 300px;
    height: 30px;
    background-color: pink;
}

#search {
    height: 90px;
    padding: 0 70px;
    margin: 30px 0;
}

#search > div {
    float: left;
    margin-right: 80px;
}

#search .search-total {
    margin-top: 10px;
}

#search .search-total > div:nth-child(-n+2) {

    float: left;

}

#search .search-content input{
    width: 455px;
    height: 30px;
    border-left: 3px solid #c81623;
    border-top: 3px solid #c81623;
    border-bottom: 3px solid #c81623;
}

#search .search-btn {
    width: 80px;
    height: 36px;
    background-color: #c81623;
    text-align: center;
    line-height: 36px;
}

#search .search-btn button {
    background-color: #c81623;
    color: #fff;
    font-size: 16px;
    font-family: "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "华文宋体", STHeiti, verdana, arial, sans-serif;
}

#search .sub-search li {
    float: left;
    margin-right: 10px;
}
#search .my-cart{
    position: relative;
}
#search .my-cart-wrap {
    position: relative;
    width: 145px;
    height: 35px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
#search .my-cart:hover .my-cart-wrap{
    background-color: #fff;
    border-bottom: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);

}
#search .my-cart:hover .nogoods{
    display: block;
    position: absolute;
    top:47px;
    right:0;
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
}
#search .my-cart:hover .white{
    position: absolute;
    top:-7px;
    right:0;
    width: 145px;
    height: 15px;
    background-color: #fff;
}


#search .my-cart-wrap i {
    position: absolute;
    top:-10px;
    left:110px;
    width: 15px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 7px 7px 7px 0;
    background-color: #c81623;
    text-align: center;
    color:#fff;
    z-index: 2;
}
#search .my-cart-wrap::after{
    content: "";
    position: absolute;
    top:15px;
    left:125px;
    width: 7px;
    height: 7px;
    border-top:1px solid #aaa;
    border-right:1px solid #aaa;
    transform: rotate(45deg);
}
#search .my-cart-wrap span {
    position: absolute;
    top: 10px;
    left: 30px;
    background: url("../img/jd2015img.png") no-repeat 0 -58px;
    padding-left: 25px;
}
#prev-nav{

    padding:0 70px;
    border-bottom: 3px solid #B1191A;
}
#prev-nav>div{
    float: left;
}

#prev-nav::after{
    content: "";
    display: table;
    clear:both;
}
#prev-nav .total-goods a{
    display: block;
    width: 200px;
    height: 45px;
    padding: 0 10px;
    background-color: #B1191A;
    color:#fff;
    line-height: 45px;
    font-size: 16px;
    font-family: "微软雅黑";
}
#prev-nav li{
    float:left;
    margin: 0 20px;
    font-size: 16px;
    font-family: "微软雅黑";
    line-height: 45px;
}

#nav {
    padding: 0 70px;
}
#nav::after{
    content: "";
    display: table;
    clear: both;
}
#nav>div{
    float:left;
}
#nav .left-nav{
    position: relative;
    width: 219px;
    border-left:1px solid #C81623;
    background-color: #C81623;
}


#nav .left-nav li>a{
    position: relative;
    display: block;
    width: 200px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    color:#fff;
    font-size: 15px;
    font-family: "微软雅黑";
}
#nav .left-nav li .big-arrow{
    position: absolute;
    top:10px;
    right:10px;
    width: 7px;
    height: 7px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
}
#nav .left-nav li:hover{

    background-color: #ddd;
    color:#C81623;

}
#nav .left-nav li:hover .fn-hide{
    display: block;
    position: absolute;
    top:0;
    left:220px;
    width: 1000px;
    height: 449px;
    background-color: #ddd;
    border-right: 1px solid #C81623;
    border-bottom: 1px solid #C81623;
    z-index: 1;
}
#nav .left-nav li:hover .big-arrow{
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#nav .left-nav .fn-hide .nav-top span{
    float:left;
    
}
#nav .left-nav .fn-hide .nav-top .nav-top-text{
    width: 55px;
    height: 25px;
    background-color: #777;
    line-height: 25px;
    text-align: center;
    color:#fff;
}
#nav .left-nav .fn-hide .nav-top .nav-arrow{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #555;
}
#nav .left-nav .fn-hide .nav-top .nav-arrow::after{
    content: "";
    position: absolute;
    top:7px;
    left:5px;
    width: 7px;
    height: 7px;
    border-top:1px solid #fff;
    border-right:1px solid #fff;
    transform: rotate(45deg);
}
#nav .left-nav .fn-hide .nav-top a:hover .nav-top-text{
    background-color: #C81623;
}
#nav .left-nav .fn-hide .nav-top a:hover .nav-arrow{
    background-color: #B1191A;
}
#nav .lunbo{
    position: relative;
    width: 730px;
    height: 450px;
}
#nav .lunbo:hover .fn-hide{
    display: block;
}

#nav .lunbo .fn-hide .btn{
    position: absolute;
    top:195px;
    width: 30px;
    height: 60px;
    background-color: rgba(0,0,0,0.3);
}
#nav .lunbo .fn-hide .left-side{
    left:10px;
}
#nav .lunbo .fn-hide .right-side{
    right:10px;
}
#nav .lunbo .fn-hide .left-side::before{
    content: "";
    position: absolute;
    top:23px;
    left:10px;
    width: 12px;
    height: 12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
}

#nav .lunbo .fn-hide .right-side::before{
    content: "";
    position: absolute;
    top:23px;
    left:8px;
    width: 12px;
    height: 12px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
}
#nav .lunbo .pic-show{
    position: relative;
    height: 100%;
    overflow: hidden;
}
#nav .lunbo .pics-wrap{
    position: absolute;
    height: 100%;
}
#nav .lunbo li{
    float:left;
    width: 710px;
    padding: 10px 10px 0;
    height: 440px;
}
#nav .lunbo img{
    display: block;
    height: 100%;
}
#nav .lunbo .pointer{
    position: absolute;
    bottom:20px;

}
#nav .lunbo .pointer::after{
    content: "";
    display: table;
    clear:both;
}
#nav .lunbo .pointer a{
    float:left;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    border-radius: 50%;
    background-color: #3E3E3E;
    text-align: center;
    color:#fff;
    line-height: 20px;
}
#nav .lunbo .pointer .active{
    background-color: #C81623;
}
#nav .right-nav{

    width: 250px;
    margin-top: 10px;
    /*background-color: pink;*/
}
#nav .right-nav li.bigItem{
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 25%;
    height: 70px;
    border-top:1px #ddd solid;
    border-left:1px #ddd solid;
}
#nav .right-nav li.bigItem:nth-child(4n){
    border-right:1px #ddd solid;
}
#nav .right-nav li.bigItem:nth-child(n+9){
    border-bottom:1px #ddd solid;
}
#nav .right-nav li.bigItem>a{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#nav .right-nav li.bigItem>a::before{
    content: "";
    display: table;
}
#nav .right-nav li.bigItem .icon{
    display: block;
    margin-top:15px;
    margin-left:18px;
    width: 25px;
    height: 25px;
}
#nav .right-nav li.bigItem .icon1{
    background: url("../img/ico-1.png") no-repeat 0 0px;
}
#nav .right-nav li.bigItem .icon2{
    background: url("../img/ico-1.png") no-repeat 0 -25px;
}
#nav .right-nav li.bigItem .icon3{
    background: url("../img/ico-1.png") no-repeat 0 -50px;
}
#nav .right-nav li.bigItem .icon4{
    background: url("../img/ico-1.png") no-repeat 0 -75px;
}
#nav .right-nav li.bigItem .icon5{
    background: url("../img/ico-1.png") no-repeat 0 -100px;
}
#nav .right-nav li.bigItem .icon6{
    background: url("../img/ico-1.png") no-repeat 0 -125px;
}
#nav .right-nav li.bigItem .icon7{
    background: url("../img/ico-1.png") no-repeat 0 -150px;
}
#nav .right-nav li.bigItem .icon8{
    background: url("../img/ico-1.png") no-repeat 0 -175px;
}
#nav .right-nav li.bigItem .icon9{
    background: url("../img/ico-1.png") no-repeat 0 -200px;
}
#nav .right-nav li.bigItem .icon10{
    background: url("../img/ico-1.png") no-repeat 0 -225px;
}
#nav .right-nav li.bigItem .icon11{
    background: url("../img/ico-1.png") no-repeat 0 -250px;
}
#nav .right-nav li.bigItem .icon12{
    background: url("../img/ico-1.png") no-repeat 0 -275px;
}
#nav .right-nav li.bigItem span{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
#nav .right-nav li.bigItem .options {

    display: none;

    margin-top:210px;
    width: 254px;
    height: 210px;


}
#nav .right-nav li.bigItem .options .smallItem{
    box-sizing: border-box;
    position: relative;
    float:left;
    width: 25%;
    height: 30px;
    margin-left: -1px;
    border-right: 1px solid #ddd;
    border-bottom:1px solid #ddd ;
    text-align: center;
    /*background-color: green;*/

}
#nav .right-nav li.bigItem .options li.smallItem:nth-child(1){
    border-left: 1px solid #ddd;
}
#nav .right-nav li.bigItem .fn-hide{
    position: absolute;
    top:30px;
    left:0;
    width: 250px;
    height: 180px;
    line-height: 180px;
    text-align: center;
}
#nav .right-nav li.bigItem .active{
    border-top:1px red solid;
}