:root{
    --hoverRed:#c81623;
}
.w{
    padding: 0 60px;
}
#top{

    height: 30px;
    background-color: #F1F1F1;

}
#top .to-city{
    line-height: 30px;
}
#top .location{
    position: relative;
    /*padding: 5px 5px;*/
    /*height: 20px;*/
}
/*经验:在一个元素上hover后产生边框，要记得加上margin-left:-1px;*/
#top .location:hover{
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-left: -1px;
}
#top .location:hover .fn-hide{
    position: absolute;
    display: block;
    top:30px;
    left:-1px;
    width: 300px;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

#top .allCity li{
    float: left;
    width: 20%;
    text-align:center;
    margin: 5px;

}


/*经验：父级设置了line-height后，子级如果浮动，那么该line-height不起作用*/
#top ul.navs>li{
    position: relative;
    padding: 5px 20px 0;
    border-left: 1px solid #ccc;
    height: 25px;
}
#top ul.navs li.web-nav:hover{
    background-clip: padding-box;
    background-color: #fff;
    border-right: 1px solid #ddd;
    margin-left: -1px;
}
#top ul.navs li.web-nav:hover .fn-hide{
    display: block;
    position: absolute;
    top:30px;
    right:0px;
    width: 1200px;
    height: 300px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#top ul.navs li.client-service .hide-wrap{
    position: absolute;
    width: 100px;

}
#top ul.navs li.focus_JD .hide-wrap{
    position: absolute;
    top:25px;
    left:-5px;
    width: 100px;
}

#top .login_register{
    margin-right: 10px;
}
#top .register{
    padding-top: 5px;
    margin-left: 5px;
}
#top .login{
    padding-top: 5px;
}
#top .register a{
    color:var(--hoverRed)
}